<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" class="html">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>classified apps</title>
    <%= stylesheet_link_tag "style", "reset"  %>
    <%= javascript_include_tag :defaults, "jquery-1.4.2.min", "jquery.selectboxes.pack", "jquery.ba-postmessage.min.js" %>
		<script type="text/javascript">
    	jQuery.noConflict();
			(function ($) {
       $(document).ready(function() {
				var parent_url = decodeURIComponent( document.location.hash.replace( /^#/, '' ) ),link;
				var x = document.body.scrollHeight + 150;
				
				function setHeight() {
					$.postMessage({ if_height: x }, parent_url, parent );
				};
				setHeight();
				setInterval(setHeight, 500);
       });
			})(jQuery);
		</script>		
  </head>
  <body>
    <div class="content margin_padding">
      <%= yield %>
      <div class="banner">
      </div>
      <div class="app_clear">&nbsp;</div>
    </div>
  </body>

</html>
